kuso.config.el
kuso.d/*
.build/*
*~
build.log
.cask/*
packages/
lib/magic-buffer.el
assets/
./fg42^
/fg42
project-config/
docs/_build
./fonts/
node_modules
.\#.*
yarn-error.log
.node-version
.shadow-cljs
.nrepl-port
nohup.out
lib/**/*.elc
*.elc
tmp/
test-runner/
.fpkg/